*{
    font-family: 'Noto Sans KR', sans-serif;
     list-style: none;
     text-decoration: none;
     border-collapse: collapse;
     margin: 0px;
     padding: 0px;
     color: #000;
 }

 .intro_bg{
     background-image:url("image/intro.jpg");
    
     height: 640px;
     width: 100%;
 }
 .header{
     display:flex;
     width: 1280px;
     margin: auto;

     height: 86px;
 }
 .searchArea{
     width: 300px;
     height: 40px;
     background:rgba(0, 0, 0, 0);
     border-radius:5px;
   
     margin-top:24px;
 }
 .searchArea > form >input{
    border:none;
    background:rgba(0, 0, 0, 0);
    width:250px;
    height: 40px;
    color:#fff;
    padding-left: 10px;
 }
 .searchArea > form >span{
     width: 50px;
     color: #fff;
     padding-left: 10px;
    
     cursor: pointer;

 }
 .nav{
     display: flex;
     line-height: 84px;
     justify-content: flex-end;
     width:calc(1280px - 300px);
    
 }
 .nav > li{
     margin-left: 80px;
     
 }
 .nav > li > a{
  color: #fff; 
}
.intro_text > h1,
.intro_text > h2{
 color: white;

}